<div class="post-grid block-margin--no-top">
    {% for service in fields.services %}
        <a class="post-grid__grid-item" href="javascript: void(0)">
            <div class="image" style="background-image: url('');"></div>
            <time></time>
            <h4></h4>
        </a>
    {% endfor %}
</div>

{#
Service 1 - Brand Strategy & Project Development
Service 2 - Digital Marketing & Social Media Management
Service 3 - Event Marketing & Promotion
Service 4 - Website Design & Development
Service 5 - Public Relations & Reputation Management
Service 6 - Market Research & Analytics
#}
