<div class="post-grid block-margin--no-top">
    {% for service in fields.services %}
        <a class="post-grid__grid-item" href="javascript: void(0)">
            <span class="fa-solid {{ service.icon }}"></span>
            <h4>{{ service.name }}</h4>
            <p class="service-blurb">{{ service.blurb }}</p>
        </a>
    {% endfor %}
</div>
