{% if fields.page_link %}
    <a class="gradient-hover" href="{{ fields.page_link }}">
        <h2 class="short-width-header">{{ fields.header_text }}</h2>
    </a>
{% else %}
    <h2 class="short-width-header">{{ fields.header_text }}</h2>
{% endif %}
