/**
    All Careers Listing
*/
.career-listing {
    margin: 2rem auto 0;
    max-width: 50rem;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1.5rem;
        padding: 1.25rem 1.65rem;
        background-color: $background-accent-alt;
        border: 1px solid $light-black;
        border-radius: $radius-medium;
        text-align: center;

        @include mq(xxs) {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        p {
            display: inline-block;
            margin: 0 1rem 1.5rem 0;
            &:last-of-type { margin-right: 0; }
            @include mq(xxs) { margin: 0 1rem 0 0; }
        }
    }
}

.eeo-statement {
    margin-top: 3.25rem;
    border-top: 1px solid $grey;
    p:last-of-type { margin-bottom: 0; }
}

/**
    Single Career Pages
*/
.split-view-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;

    @include mq(md) {
        flex-direction: row;
        justify-content: space-between;
    }

    .career-reqs,
    .career-summary {
        width: 100%;
    }
}

.career-reqs {
    max-width: 55rem;

    ul {
        max-width: 45rem;

        li {
            margin-bottom: 0.65rem;
        }
    }
}

// right hand menu follows scroll
.career-summary {
    position: sticky;
    align-self: flex-start;
    top: 2rem;
    max-width: 20rem;
    margin-left: 0;
    padding: 2rem 1.25rem;
    background-color: $background-accent-alt;
    border-radius: $radius-small;
    @include mq(md) { margin-left: 2rem; }

    &__item {
        &:last-child p { margin-bottom: 0; }
        p { margin-top: 0; }

        .icon {
            display: inline-block;
            width: 1.5rem;
            position: relative;
            top: 4px;
            margin-right: 5px;

            svg { width: 1.25rem; height: 1.25rem; }
        }

        .icon-title {
            text-decoration: underline;
            font-weight: $semibold;
        }
    }
}
