.career-listing {
    margin: 2rem auto 0;
    max-width: 50rem;

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 1.5rem;
        padding: 1.25rem 1.65rem;
        background-color: $background-accent-alt;
        border: 1px solid $light-black;
        border-radius: $radius-medium;

        h4 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        p {
            display: inline-block;
            margin: 0 1rem 0 0;
        }
    }
}

.eeo-statement {
    margin-top: 3.25rem;
    border-top: 1px solid $grey;

    p:last-of-type {
        margin-bottom: 0;
    }
}
