// archives and single posts
// quickfind: single post styles

/**
    Archive styles
*/
.post-grid {
    max-width: 65rem;
    display: grid;
    max-width: 100%;
    margin: 3rem auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    row-gap: 1.5rem;
    column-gap: 1.25rem;

    &__grid-item {
        padding: 1.5rem 1.25rem;
        border: 1px solid $light-black;
        border-radius: $radius-medium;
        background-color: $background-accent-alt;
        &:hover { border-color: $light-blue; }

        .image {
            padding: 6.75rem 0;
            border-radius: $radius-medium;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        time {
            margin-top: 1rem;
        }

        h4 {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }
}

/**
    Single post styles
*/
.post-layout {}

// related articles / events
.related-layout {}
