// news, events, clients/partners
// archives and single posts

/**
    Archive styles
*/
.post-grid {
    display: grid;
    max-width: 100%;
    margin: 3rem auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    row-gap: 1.5rem;
    column-gap: 1.25rem;

    &__grid-item {
        padding: 1.5rem 1.25rem;
        border: 1px solid $light-black;
        border-radius: $radius-medium;
        background-color: $background-accent-alt;
        &:hover { border-color: $light-blue; }

        .image {
            padding: 6.75rem 0;
            border-radius: $radius-medium;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        time {
            margin-top: 1rem;
        }

        h4 {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }
}

/**
    Single post styles
*/
.post-layout {
    max-width: 61.25rem;
    margin: 0 auto;

    &__author {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
        margin: 1rem auto 3rem;
        padding-bottom: 2.25rem;
        border-bottom: 1px solid $light-black;

        h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-weight: $light;
            letter-spacing: 0;
        }

        .author-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;

            img {
                border-radius: $circle;
                max-width: 4rem;
                margin-right: 1rem;
            }

            time { color: $primary-text-color; }
        }

        .social-share-links {
            max-width: 14rem;

            .shared-counts-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                float: unset;
                margin: 0;

                .shared-counts-button {
                    border-radius: $radius-small;
                }
            }
        }
    }

    .next-previous-posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 5rem;

        @include mq(660px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .post-nav {
            width: 100%;
            border: 1px solid $light-black;
            border-radius: $radius-small;
            padding: 1.5rem;

            &:first-of-type { margin-bottom: 2rem; }

            @include mq(660px) {
                width: 48%;

                &:first-of-type { margin-bottom: 0; }
            }

            &:hover {
                cursor: pointer;
                background-color: $dark-blue;
            }
        }

        h5 {
            margin-top: 1rem;
            margin-bottom: 0;
            line-height: 1.5;
        }

        p {
            margin-top: 0;
            &:last-of-type { margin-bottom: 0; }
        }
    }
}
