{% if not is_front_page %}
    <header class="site-header"></header>
{% else %}
    <header class="home-header">
        <div class="text-container">
            <p>Sign up for free today!</p>
            <h1 class="gradient-header">Deliver an enterprise quality project in minutes.</h1>
            <a class="primary-button--blue" href="/">
                Get Started
                <span class="right-arrow">{% include 'assets/media/right-arrow-icon.svg' %}</span>
            </a>
        </div>

        <div class="video-container">
            <video class="player" controls>
                <source src="{{ post.header_video }}" type="video/mp4">
            </video>
        </div>
    </header>
{% endif %}
