<nav id="nav" class="mega-menu" aria-label="Main site navigation">
    <div class="">
        <h4 class="h5">Features</h4>
        <ul>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
        </ul>
    </div>

    <div class="">
        <h4 class="h5">News &amp; Events</h4>
        <ul>
            <li><a class="" href="/">Event 1</a></li>
            <li><a class="" href="/">Event 2</a></li>
            <li><a class="" href="/">News 1</a></li>
            <li><a class="" href="/">News 2</a></li>
            <li><a class="" href="/">News 3</a></li>
        </ul>
    </div>

    <div class="">
        <h4 class="h5">Case Studies</h4>
        <ul>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
        </ul>
    </div>

    <div class="">
        <h4 class="h5">Clients &amp; Partners</h4>
        <ul>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
            <li><a class="" href="/">Lorem Ipsum</a></li>
        </ul>
    </div>
</nav>
