<section class="site-nav">
    <img class="site-nav--logo" src="{{ options.full_logo.url }}" alt="The Round Table Group" />

    <div class="site-nav--menu">
        <nav id="nav" class="mega-menu" aria-label="Main site navigation"></nav>
    </div>

    <div class="site-nav--cta">
        {# placeholder button - replace with burger and x-anim once functionality is done #}
        <button id="toggle-menu">
            Menu <span class="fa-solid fa-chevron-down"></span>
        </button>
        <a class="primary-button--cta" href="/contact">Contact Us</a>
    </div>
</section>
