.site-footer {
    position: relative;
    max-width: $global-width;
    padding: 1rem;
    margin: 5rem auto 0;
    @include mq(lg) { padding: 1rem 3rem; }

    &__cta-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $grey;
        padding: 2rem 0 0;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
            padding: 3.5rem 0 0;
        }

        .footer-logo {
            margin-right: 0;
            margin-bottom: 2.75rem;
            max-width: 28rem;
            width: 100%;

            @include mq(md) {
                max-width: 26rem;
                margin-right: 2rem;
                margin-bottom: 0;
            }
        }

        .subscribe {
            position: relative;
            max-width: 27.25rem;
            width: 100%;
        }

        small {
            display: block;
            margin-top: 1rem;
        }
    }

    &__nav-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5rem 0;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 3.5rem 0;
        }

        .footer-menu {
            max-width: 100%;
            width: 100%;
            margin-bottom: 2rem;

            @include mq(md) {
                width: auto;
                margin-bottom: 0;
            }

            &--title {
                margin-bottom: 0.5rem;
                padding-bottom: 0.65rem;
                font-size: 1rem;
                font-weight: $regular;
                text-transform: uppercase;
                line-height: 1.4;
                border-bottom: 1px solid $primary-text-color;
            }

            &--link {
                display: block;
                padding: 8px 2px;
                max-width: 26rem;
                &:hover { color: $light-blue; }
            }
        }

        .social-link-wrapper {
            max-width: 15rem;
            width: 100%;
            margin-top: 2rem;
            @include mq(md) { margin-top: 0; }

            p {
                margin-bottom: 1rem;
                padding-bottom: 0.65rem;
                font-size: 15px;
                font-weight: $regular;
                text-transform: uppercase;
                line-height: 1.5;
                border-bottom: 1px solid $white;
            }

            .social-link-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 15rem;

                .link {
                    span svg {
                        width: 2.25rem;
                        height: 2.25rem;
                        padding: 3px;

                        path {
                            fill: $primary-text-color;
                            transition: $transition;
                        }

                        &:hover {
                            path {
                                fill: $light-blue;
                                transition: $transition;
                            }
                        }
                    }
                } // end link
            }
        }
    } // end footer nav row

    &__legal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        border-top: 1px solid $grey;

        p {
            margin-top: 0;
            margin-bottom: 1.65rem;
            text-align: center;
        }

        a {
            margin: 0.3rem 0.65rem;
            padding: 4px 0;
            &:hover { color: $light-blue; }
            @include mq(sm) { margin: 0 0.65rem 0.65rem; }
        }

        .link-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 50rem;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            @include mq(md) { justify-content: space-between; }
        }
    }
}
