/**
    global form styles
    gravity form styles are disabled in functions
*/

// target all forms by id (no need for !important)
[id^="gform_wrapper_"] {
    input, label, textarea,
    select, option, legend {
        font-size: 1rem;
        font-family: $lexend;
        font-weight: $light;
        border-radius: $radius-small;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    .gform-field-label--type-sub { display: none; }

    input:not([id^="gform_submit_button_"]),
    textarea, select, option {
        color: $white;
        background-color: $light-black;
        border: 1px solid $grey;
    }

    input, textarea { padding: 1rem 0.85rem; }

    input:focus,
    textarea:focus { outline: none; }

    label, legend { color: $white; }

    .gfield_label {
        display: block;
        margin-bottom: 0.65rem;
    }

    // all form buttons
    [id^="gform_submit_button_"] {
        padding: 1.05rem 1.65rem;
        border-radius: $radius-small;
        font-weight: $regular;
        background-color: $blue;
        color: $white;
        transition: $transition;

        &:hover {
            background-color: $light-blue;
            transition: $transition;
            cursor: pointer;
        }
    }

    ::placeholder {
        font-family: $lexend;
        font-weight: $light;
        font-size: 1rem;
        color: $white;
        opacity: 1;
    }

    // hidden items
    .gform_heading,
    .gfield_required {
        display: none;
    }

    // we use CloudFlare Turnstile
    .gfield--type-honeypot {
        display: none !important;
    }
}

.gform_confirmation_message {
    color: $white;
    font-size: 1.35rem;
}

/**
    form-specific styles
*/

// subscribe form (ID: 1)
#gform_wrapper_1 {
    #gform_fields_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 100%;
        width: 100%;
    }

    .gfield_label { font-size: 18px; }

    #input_1_1 {
        width: 12.5rem;
        @include mq(xxs) { width: 15rem; }
        @include mq(xs) { width: 18rem; }
    }
}

// contact form (ID: 2)
#gform_wrapper_2 {

    // first/last name
    #field_2_1 {
        margin-bottom: 2rem;

        input {
            max-width: 20rem;
            width: 100%;
        }
    }

    // keep first/last name span wrappers from overflowing
    #input_2_1_3_container,
    #input_2_1_6_container {
        display: inline-block;
        max-width: 20rem;
        width: 100%;

        &:first-of-type {
            margin-right: 1.65rem;
            margin-bottom: 1rem;
        }
    }

    // email/phone setup
    #field_2_3,
    #field_2_4 {
        display: inline-block;
        max-width: 20rem;
        width: 100%;
        margin-bottom: 2rem;

        input {
            max-width: 20rem;
            width: 100%;
        }
    }

    // email
    #field_2_3 {
        margin-right: 1.85rem;
    }

    // business name
    #field_2_9 {
        display: inline-block;
        max-width: 20rem;
        width: 100%;
        margin-bottom: 2rem;

        input {
            max-width: 20rem;
            width: 100%;
        }
    }

    // industry type
    #field_2_5 {
        margin-bottom: 2rem;

        .gchoice {
            margin-bottom: 10px;
            input { margin-right: 3px; }
        }
    }

    // service interest inquiry
    #field_2_7 {
        margin-bottom: 2rem;
    }

    // service interest picker
    #field_2_8 {
        margin-bottom: 2rem;

        .gchoice {
            margin-bottom: 10px;
            input { margin-right: 3px; }
        }
    }

    // message box
    #field_2_6 textarea {
        max-width: 43rem;
        width: 100%;
        margin-bottom: 2rem;
    }
}

// Hiring Form
#gform_wrapper_3 {
    max-width: 42rem;
    width: 100%;
    text-align: center;
    @include mq(md) { text-align: left; }

    .gfield_label { text-align: left !important; }

    // first/last name
    #field_3_1 {
        max-width: 20rem;
        margin: 0 auto 2rem;
        @include mq(700px) { max-width: 100%; }

        input {
            max-width: 20rem;
            width: 100%;
        }
    }

    // keep first/last name span wrappers from overflowing
    #input_3_1_3_container,
    #input_3_1_6_container {
        display: inline-block;
        max-width: 20rem;
        width: 100%;

        &:first-of-type {
            margin-right: 1.65rem;
            margin-bottom: 1rem;
        }
    }

    // email/phone setup
    #field_3_3,
    #field_3_4,
    #field_3_12,
    #field_3_9 {
        display: inline-block;
        max-width: 20rem;
        width: 100%;
        margin-bottom: 2rem;
        vertical-align: top;

        input {
            max-width: 20rem;
            width: 100%;
        }
    }

    // email, dob
    #field_3_3,
    #field_3_12 {
        margin-right: 0;
        @include mq(700px) { margin-right: 1.85rem; }
    }

    // resume upload
    #field_3_9 input {
        border-style: dashed !important;
        border-width: 2px;
        padding: 0.85rem;
    }

    // resume upload rules
    #gfield_upload_rules_3_9 {
        display: block;
        margin-top: 0.65rem;
    }

    // textareas
    #field_3_6,
    #field_3_7,
    #field_3_8 {
        margin-bottom: 2.5rem;

        textarea {
            max-width: 42rem;
            width: 100%;
        }
    }

    // if selected
    #field_3_10 {
        margin-bottom: 2.5rem;
        label { margin-left: 0.25rem; }
    }

    // how did you hear about us (select)
    #field_3_11 {
        margin-bottom: 2.5rem;
        text-align: left;
    }

    select {
        max-width: 10rem;
        width: 100%;
        padding: 0.65rem 0.85rem;
    }

    // if selected - checkbox text align
    .ginput_container_consent { text-align: left; }

    // apply button wrapper area
    .gform_footer.before { text-align: left !important; }

    // apply button
    #gform_submit_button_3 { padding: 0.85rem 1.75rem; }
}
