// home header
.site-header {
    max-width: $global-width;
    margin: 3rem auto 0;
    padding: 1rem;
    text-align: center;
    @include mq(lg) { padding: 1rem 3rem; }

    .text-container {
        max-width: 54rem;
        margin: 0 auto;
        text-align: center;

        .pill-tag {
            margin-bottom: 1.5rem
        }

        .header-title {
            margin-top: 0;
            margin-bottom: 1.25rem;
        }

        .header-text {
            max-width: 28rem;
            margin: 0 auto;
            font-weight: $regular;
        }

        .primary-button--blue {
            margin-top: 1.75rem;
        }
    }

    // homepage only
    .video-container {
        margin: 5rem auto 0;

        .player {
            width: 100%;
            border-radius: $radius-large;
            &:hover { cursor: pointer; }
        }
    }

    // all other pages
    .image {
        margin: 2rem auto;
        border-radius: $radius-large;
        @include mq(sm) { margin: 4rem auto 2rem; }

        &--small {
            @extend .image;
            background-size: cover;
            background-position: center; // 100% 100%
            background-repeat: no-repeat;
            padding: 6rem 0;
            @include mq(sm) { padding: 10rem 0; }
            @include mq(md) { padding: 15rem 0; }
        }
    }

    // news / events post types
    .post-image {
        max-width: 61.25rem;
        width: 100%;
        margin: 2rem auto;
        border-radius: $radius-large;
        @include mq(sm) { margin: 4rem auto 2rem; }
    }
}
