// main site header
.site-header {
    max-width: $global-width;
    margin: 3rem auto 0;
    padding: 1rem;
    text-align: center;
    @include mq(lg) { padding: 1rem 3rem; }

    .text-container {
        max-width: 56rem;
        margin: 0 auto;
        text-align: center;

        .header-title {
            margin-top: 0;
            margin-bottom: 1.25rem;
        }

        .header-text {
            max-width: 28rem;
            margin: 0 auto;
            font-weight: $regular;
        }

        .primary-button--blue {
            margin-top: 0;
            @include mq(xs) { margin-top: 1.75rem; }
        }
    }

    // homepage only
    .video-container {
        margin: 5rem auto 0;

        .player {
            width: 100%;
            border-radius: $radius-large;
            &:hover { cursor: pointer; }
        }
    }

    // all other pages
    .image {
        margin: 2rem auto;
        border-radius: $radius-large;
        @include mq(sm) { margin: 4rem auto 2rem; }

        &--small {
            @extend .image;
            background-size: cover;
            background-position: center; // 100% 100%
            background-repeat: no-repeat;
            padding: 6rem 0;
            @include mq(sm) { padding: 10rem 0; }
            @include mq(md) { padding: 15rem 0; }
        }
    }

    // news / events post types
    .post-image {
        max-width: 61.25rem;
        width: 100%;
        margin: 2rem auto;
        border-radius: $radius-large;
        @include mq(sm) { margin: 4rem auto 2rem; }
    }
}

// home header
.home-title-wrapper {
    .rotating-words {
        height: 125px;
        overflow: hidden;

        &--word {
            display: block;
            height: 100%;
            font-weight: $regular;
            margin: 0;
            animation: 15s word_switch 1s infinite;
            color: $grey;
            font-weight: $semibold;
        }
    }

    .primary-button--blue { margin-top: 1rem !important; }
}

@keyframes word_switch {
    15% { transform: translateY(-105%); }
    20% { transform: translateY(-100%); }

    35% { transform: translateY(-205%); }
    40% { transform: translateY(-200%); }

    55% { transform: translateY(-305%); }
    60% { transform: translateY(-300%); }

    75% { transform: translateY(-405%); }
    80% { transform: translateY(-400%); }

    95% { transform: translateY(-505%); }
    100% { transform: translateY(-500%); }
}
