{% extends 'base.twig' %}

{% block content %}
    <div class="post-grid">
        {% for cs in case_studies %}
            <a class="post-grid__grid-item" href="{{ cs.link }}">
                <div class="image" style="background-image: url('{{ cs.thumbnail.src }}');"></div>
                <h4 class="cs-title">{{ cs.card_title }}</h4>
            </a>
        {% endfor %}
    </div>

    {{ post.content }}
{% endblock %}
