{% extends 'base.twig' %}

{% block content %}
    <div class="client-filter">
        {{ fn('do_shortcode', '[facetwp facet="client_partner_sort"]') }}
    </div>

    <div class="logo-grid facetwp-template">
        {% for logo in clients_and_partners|slice(0, 40) %}
            <div class="logo-grid__grid-item">
                <div class="logo-image" style="background-image: url('{{ logo.thumbnail.src }}');"></div>
            </div>
        {% endfor %}
    </div>

    {{ post.content }}
{% endblock %}
