{% extends 'base.twig' %}

{% set fl_gmap = 'https://www.google.com/maps/place/1010+S+Federal+Hwy,+Hallandale+Beach,+FL+33009/@25.9745852,-80.1445923,16.97z/data=!4m6!3m5!1s0x88d9ad8a3fd9bfe1:0xf742733259266105!8m2!3d25.9746738!4d-80.1427658!16s%2Fg%2F11sv0y6mrh?entry=ttu' %}
{% set dv_gmap = 'https://www.google.com/maps/place/1801+California+St+%232400,+Denver,+CO+80202/@39.7476293,-104.9904822,17.32z/data=!4m6!3m5!1s0x876c78d763a13d3d:0x14d2d374873890d8!8m2!3d39.7477395!4d-104.9894663!16s%2Fg%2F11mx6t6b7l?entry=ttu' %}

{% block content %}
    <section class="contact-form-wrapper">
        <div class="contact-form-wrapper__form">
            {{ fn('do_shortcode', '[gravityform id="2" title="false" description="false", ajax="true"]') }}
        </div>
    </section>

    <div class="contact-social-wrapper">
        <a class="social-card" href="{{ fl_gmap }}" target="_blank" rel="noopener">
            <p>Florida Address</p>
            <span class="social-icon location">{% include 'assets/media/white/location-icon-white.svg' %}</span>
            <address>1010 S Federal Hwy<br/> Suite 1400<br/> Hallandale Beach, FL<br/> 33009</address>
        </a>

        <a class="social-card" href="{{ dv_gmap }}" title="TRT Email" target="_blank" rel="noopener">
            <p>Denver Address</p>
            <span class="social-icon">{% include 'assets/media/white/location-icon-white.svg' %}</span>
            <address>1801 California St<br/> Suite 2400<br/> Denver, CO<br/> 80202</address>
        </a>

        <a class="social-card" href="https://linktr.ee/trt.group" title="TRT LinkTree" target="_blank" rel="noopener nofollow">
            <p>Connect With Us</p>
            <span class="social-icon">{% include 'assets/media/white/heart-icon-white.svg' %}</span>
            <p>Connect with us on LinkedIn, Facebook, and Instagram to stay up to date.</p>
        </a>
    </div>

    {{ post.content }}
{% endblock %}
