{% extends 'base.twig' %}

{% block content %}
<section class="content-block">
    {{ post.content }}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat illum eum recusandae, optio cupiditate modi accusamus totam odit consectetur ab nisi necessitatibus similique? Ut, nam id. Quisquam ut autem omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur corrupti ea praesentium asperiores nostrum accusantium dicta laboriosam blanditiis beatae velit quasi nobis eligendi cumque, harum temporibus eius eaque minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus nulla repellendus aspernatur debitis expedita perferendis aut temporibus, quas mollitia recusandae cum harum sunt molestiae similique quidem, magnam modi cumque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, tenetur. Voluptatem, nesciunt nemo sed amet dolorem quis veniam, quo labore cum vel enim, officiis eaque dignissimos reprehenderit quae necessitatibus illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci enim laboriosam quibusdam veniam? Quibusdam ratione mollitia modi culpa. Earum magnam unde optio dignissimos veniam hic doloremque aliquid dolore ullam libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, autem facilis veniam est id quia nesciunt porro quod reiciendis iure repellendus officiis voluptas, a dolorum distinctio soluta libero veritatis nostrum.</p>
</section>
{% endblock %}
