// reveal animation
@keyframes reveal {
    0% {
        transform: translate(0, 130%);
    }

    100% {
        transform: translate(0, 0);
    }
}

$reveal: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);

// Media Query Mixin
@mixin mq($size) {
	@if $size == xxs {
		@media (min-width: 414px) { @content; }
	} @else if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 860px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1024px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xxl {
        @media (min-width: 1400px) { @content; }
    } @else {
		@media (min-width: $size) { @content; }
	}
}

// Fluid text function for dynamic font scaling
@function fluid-text($min-screen-width, $min-font-size, $max-screen-width, $max-font-size) {
	$slope: calc(($max-font-size - $min-font-size) / ($max-screen-width - $min-screen-width));
	$y-intersect: -1 * $min-screen-width * $slope + $min-font-size;
	$return: clamp(#{$min-font-size}, #{$y-intersect} + #{$slope} * 100vw, #{$max-font-size});
	@return $return;
}
