// Base Colors
$white: #FFF;
$black: #000;
$background: #131316;
$accent: #060609;
$primary-text-color: #E9E9EC;

// Theme Colors
$light-black: #363A3F;
$grey: #9CA0AB;
$purple: #4348BC;
$gradient: linear-gradient(to bottom, $white, $light-black);

// Fonts
$lexend: 'Lexend Deca', sans-serif;

// Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$xbold: 900;

// Consistency Utilities
$radius-small: 8px;
$radius-medium: 16px;
$radius-large: 20px;
$circle: 50%;
$transition: 0.2s ease-out;
