// Base Colors
$white: #FFF;
$black: #000;
$background: #060609;
$background-accent: #131316;
$website-background: #1D2125;

// Theme Colors
$primary-text-color: #E9E9EC;
$grey: #9CA0AB;
$dark-grey: #212327;
$light-black: #363A3F;
$blue: #0052CC;
$dark-blue: #4348BC;
$light-blue: #0165FA;

$text-gradient: linear-gradient(190deg, $white 0%, $light-black 140.97%);

// Fonts
$lexend: 'Lexend Deca', sans-serif;

// Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$xbold: 900;

// Consistency Utilities
$radius-small: 6px;
$radius-medium: 16px;
$radius-large: 30px;
$circle: 50%;
$transition: 0.2s ease-out;
$global-width: 87.5rem;
