/**
    * This stylesheet is only loaded in the Block Editor
    * The component-loader partial loads all blocks in the editor and frontend
    * Saving a component loaded this way recompiles both frontend and admin styles for consistency
    * Admin styles may not be 1:1 with the frontend due to Editor constraints
*/

body {
    background-color: #1D2125; // $website-background

    // dependencies for blocks in the editor
    @import 'packages/normalize';
    @import 'variables';
    @import 'mixins';
    @import 'globals';
    @import 'typography';

    // all blocks
    @import 'components/component-loader';

    // editor fixes
    .acf-block-fields [class^="acf-"] {
        input, span, p, a, li, button, textarea, select {
            color: $light-black !important;
        }
    }

    .editor-styles-wrapper ::placeholder {
        color: $light-black !important;
    }
}
