/**
    * This stylesheet is only loaded in the Block Editor
    * The [components/_component-loader.scss] partial loads all blocks in the editor and frontend
    * Saving a component loaded this way recompiles both frontend and admin styles for consistency
    * Admin styles may not be 1:1 with the frontend due to Editor constraints
*/

body {
    background-color: #1D2125;

    // dependencies for blocks in the editor
    @import 'packages/normalize';
    @import 'variables';
    @import 'mixins';
    @import 'globals';
    @import 'typography';

    // all blocks
    @import 'components/component-loader';
    @import 'templates/post-layouts';

    // editor fixes
    .acf-block-fields [class^="acf-"] {
        input, span, p, a, li,
        button, textarea, select, label {
            color: $light-black !important;
        }
    }

    .editor-styles-wrapper ::placeholder {
        color: $light-black !important;
    }

    // fix slider vertical stacking
    .custom-slider {
        display: flex;
        flex-direction: row; // force row layout
        max-width: 60rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        img { max-width: 18rem; }
    }
}
