.primary-button {
    display: inline-block;
    padding: 0.65rem 1.25rem;
    border-radius: $radius-small;

    &--grey,
    &--blue {
        @extend .primary-button;
    }

    &--grey {
        background-color: $dark-grey;
        color: $white;

        &:hover {
            background-color: $light-black;
        }
    }

    &--blue {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: $light-blue;

            .right-arrow {
                left: 8px;
                transition: $transition;
            }
        }

        .right-arrow {
            position: relative;
            top: 1px;
            left: 4px;
            display: inline-block;
            transition: $transition;

            svg path { fill: $white; }
        }
    }
}
