.trt-button {
    padding: 0.65rem 1.25rem;
    font-size: 1.15rem;
    border-radius: $radius-small;
    border: 2px solid;

    &--blue {
        border-color: $dark-blue;
        &:hover { background-color: $dark-blue; }
    }

    &--light-blue {
        border-color: $blue;
        &:hover { background-color: $blue; }
    }
}
