.slide-wrapper {
    text-align: center; // center button

    h2 { margin-top: 0; }

    .custom-slider {
        margin-bottom: 4rem;

        &__slide {
            background-color: $white;
            margin: 0 1rem;
            padding: 5rem 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $radius-medium;
            @include mq(lg) { padding: 6.5rem 0; }
            @include mq(xl) { margin: 0 2rem; }
        }
    }
}
