.image-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(980px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    // text content areas
    .text-content {
        max-width: 35rem;

        &__header,
        &__body,
        &__footer {
            margin-bottom: 0;
        }

        &__header { margin-top: 0; }
        &__footer { margin-top: 1.65rem; }

        ul.text-content__footer {
            margin-left: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 0.75rem;
                .checkmark { margin-right: 0.4rem; }
            }
        }
    }

    .left-image,
    .right-image {
        margin-bottom: 2rem;
        @include mq(980px) { margin-bottom: 0; }

        img {
            max-width: 36rem;
            min-width: unset;
            width: 100%;
            border-radius: $radius-medium;
            @include mq(md) { min-width: 28rem; }
        }
    }

    .left-image {
        margin-right: 0;
        @include mq(980px) { margin-right: 4rem; }
    }

    .right-image {
        margin-left: 0rem;
        @include mq(980px) { margin-left: 4rem; }
    }
}

.wrap-reverse {
    flex-direction: column-reverse;

    @include mq(980px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
