.pill-tag {
    display: inline-block;
    background-color: $background-accent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem 1.65rem;
    border-radius: $radius-large;
    text-align: center;
}
