.text-box {
    padding: 1rem 3rem 2rem;
    background-color: $background-accent;
    border: 1px solid $light-black;
    border-radius: $radius-medium;

    img {
        max-width: 12rem;
        margin: 0 auto 2rem;
    }

    p {
        max-width: 60rem;
        text-align: center;
        margin: 1.25rem auto 1.65rem;
    }

    p:first-of-type { margin-top: 0; }
    p:last-of-type { margin-bottom: 0; }
}
