.image-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;

    @include mq(980px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    // text content areas
    .text-content {
        max-width: 35rem;

        &__tag,
        &__header,
        &__body,
        &__footer {
            margin-bottom: 0;
        }

        &__tag {
            display: inline-block;
            background-color: $background-accent;
            margin-top: 0;
            padding: 0.5rem 1.65rem;
            border-radius: $radius-large;
            text-align: center;
        }

        &__footer {
            margin-top: 1.65rem;
        }

        ul.text-content__footer {
            margin-left: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 0.75rem;

                .checkmark {
                    margin-right: 0.4rem;
                    svg path { fill: $white; }
                }
            }
        }
    }

    .left-image,
    .right-image {
        max-width: 36rem;
        min-width: 28rem;
        width: 100%;

        img { border-radius: $radius-medium; }
    }

    .left-image {
        margin-right: 0;
        @include mq(980px) { margin-right: 4rem; }
    }

    .right-image {
        margin-left: 0rem;
        @include mq(980px) { margin-left: 4rem; }
    }
}
