{% extends 'base.twig' %}

{% block content %}
<article class="post-layout">
    {# Author + "Share this post on" flex row with underline (this follows the header image) #}
</article>

<section class="related-layout">
    {# 3 most recent posts from the same category as this post #}
</section>
{% endblock %}
