{% extends 'base.twig' %}

{% block content %}
    <section class="split-view-wrapper">
        <div class="career-reqs"></div>
        <aside class="career-summary"></aside>
    </section>
{% endblock %}
