<header class="site-header">
    {% if is_front_page %}
        <h1 class="site-header--hero-text" data-aos="fade-down" data-aos-delay="350">
            We Create <span id="hero-text"></span>
        </h1>
        <p data-aos="fade-down" data-aos-delay="800">{{ post.header_intro_text }}</p>
    {% endif %}
</header>
